.container1 {
    height: 100%;
    width: 100%;
}

.Icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: clamp(20px, 4vh, 2000px);
    width: clamp(20px, 4vh, 2000px);

    background-color: hsl(151, 100%, 50%);
    border-radius: 100px;
}


.btn1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
    width: clamp(300px, 30vw, 10000px);

    background: rgba(0, 0, 0, 0.6);
    color: white;

    padding: 2vw 4vh;
    border-radius: 40px;
    border: none;

    cursor: pointer;
    transition: 0.3s;
}

a.btn-link {
    text-decoration: none;
    color: inherit;
}



.btn1 h3 {
    margin: 0;
    white-space: nowrap;
}


.btn1:hover {
    background: rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}



.container2 {
    display: flex;
    justify-content: center;
    align-items: center;

    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

}

.btn2 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 600px;

    height: 70%;

    background: hsl(152 100% 21%);
    color: white;

    padding: 1em 4em;
    border-radius: 80px;
    border: none;

    cursor: pointer;
    transition: 0.3s;
}

.btn2 h1 {
    text-decoration: none;
    white-space: nowrap;
}

.btn2:hover {
    background: hsla(151, 100%, 50%, 0.7);
    transform: scale(1.05);
    box-shadow: 0 0 30px #00ff886d;
}