.nav-link {
    text-decoration: none;
    font-weight: 600;
    color: white;
    cursor: "pointer";
    transition: 0.2s all ease;
}

.nav-link:hover {
    color: hsl(var(--primary));
    transform: scale(1.1);

    .Selector {
        color: hsl(var(--primary));
        transform: scale(1.2);
    }
}

.selector {
    position: absolute;
    height: clamp(20px, 3vh, 60px);
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 60px;
    transition: all 0.3s ease;
    z-index: 1;
}