.products {}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 0px;
}

.title {
    font-size: 800%;
    color: #00ff88;
}

.filterBar {
    width: 70vw;
    height: 5vh;
    background-color: hsl(120 3% 6%);
    border-radius: 80px;
}

.productsList {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 10vh;
    gap: 2vw;
    max-width: 80%;
}

@media (max-width: 950px) {
    .productsList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 650px) {
    .productsList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 430px) {
    .productsList {
        grid-template-columns: repeat(1, 1fr);
    }
}